<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Short.ly</span>
        </div>
    </header>
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-cell--center">
                <div class="content-grid mdl-grid">
                    <div class="mdl-cell">
                        <!-- add content here -->
                    </div>
                    <div class="mdl-cell">
                        <!-- Show flash messages -->
                        <ul class="mdl-list">
                            <% for(var i = 0; i < messages.length; i++ ) { %>
                                <li class="mdl-list__item">
                                    <% if (messages[i].success) { %>
                                        <span class="mdl-list__item-primary-content"><%= messages[i].success %></span>
                                    <% } else if (messages[i].error){ %>
                                        <span class="mdl-list__item-secondary-content"><%= messages[i].error %></span>
                                    <% } %>
                                </li>
                            <% } %>
                        </ul>
                        <% if (link) { %>
                            <span class="demo-title"> Ссылка:</span> <a href="<%= link %>"><%= link %></a>
                        <% } else { %>
                            <h4> Введите ссылку: </h4>
                        <% } %>
                        <form action="<%= createLink %>" method="POST" class="mdl-layout">
                            <input type="hidden" name="_csrf" value="<%= token %>"/>
                            <!-- Raised button with ripple -->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="site" name="site"
                                <% if (site) { %> value="<%= site %>" <% } %> />
                                <label class="mdl-textfield__label" for="site">Site</label>
                            </div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--width-30">
                                Save
                            </button>
                        </form>
                    </div>
                    <div class="mdl-cell">
                        <!-- and probably also here -->
                    </div>
                </div>
            </div>
    </main>
    <footer class="demo-footer mdl-mini-footer">
        <div class="mdl-mini-footer--center mdl-mini-footer--link-list">
            <a href="https://github.com/TheLazzziest">TheLazzziest</a>
        </div>
    </footer>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
